<head>
  <title>FRMTRI - SI</title>
</head>

<div id="wrapper">
<!--Menu-->

<app-menu></app-menu>

<!--End Menu-->

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <app-navbar></app-navbar>
      <!-- <app-nav></app-nav> -->
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <router-outlet></router-outlet>
        <!-- <app-register></app-register> -->
      </div>
      <!-- /.container-fluid -->
    </div>
  </div>
</div>



<!-- <app-menu></app-menu> -->

<!-- <app-home></app-home> -->